:root {
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --primary-black: #282623;
    --primary-grey: #BABABA;
    --secondary-grey: #757575;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    text-align: center;
}

.header .header__img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header .header__text-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}

.header .header__tittle {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header .header__description {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header .header__text-container .header__button {
    text-decoration: none;
    position: absolute;
    width: 229px;
    height: 48px;
    top: calc(100% - 24px);
    left: calc(50% - 114.5px);
    /*114.5px es la mitad del ancho del boton que es 229px*/
    display: block;
    /* margin-top: 32px; */
    padding: 15px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--warm-black);
    font-size: 1.4rem;
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, .16);
    border: none;
    border-radius: 4px;
}

.header__button .header__button_icon {
    display: inline-block;
    width: 12px;
    height: 7.41px;
    margin-left: 6px;
    background-image: url('../assets/icons/arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background: var(--off-white);
}

main .main-exchange {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 5px;
    text-align: center;
}

.main-exchange .main-exchange__image {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url('../assets/icons/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange .main-exchange__information {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange__information .main-exchange__title {
    margin-top: 40px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange__information .main_exchange__description {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-grey);
}

.section-tables {
    width: 100%;
    height: auto;
    padding-top: 48px;
}

.general-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.general-table .table__tittle {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 26px;
}

.table__tittle--currency {
    color: #FF9536;
}

.table__tittle--commissions {
    color: var(--secondary-blue);
}

.general-table .general-table__container {
    width: 90%;
    min-width: 197px;
    max-width: 300px;
    height: 159px;
    margin: 0 auto;
}

.general-table__container table {
    width: 100%;
    height: 100%;
}

.general-table__container table td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background: var(--just-white);
}

.general-table__container .table__top-left {
    border-top-left-radius: 8px;
}

.general-table__container .table__top-right {
    border-top-right-radius: 8px;
}

.general-table__container .table__bottom-left {
    border-bottom-left-radius: 8px;
}

.general-table__container .table__bottom-right {
    border-bottom-right-radius: 8px;
}

.general-table__container .table__right {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--secondary-grey)
}

.general-table__container .down {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 14px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.general-table__container .up {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.general-table .general-table__date {
    margin-top: 16px;
    margin-bottom: 65px;
    width: 173px;
    height: 31px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.general-table .general-table__date p {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.general-table .general-table__date p span {
    font-weight: bold;
}

.general-table__date--currency {
    background: var(--soft-orange);
}

.general-table__date--commissions {
    background: var(--soft-blue);
}

.main-exchange-patata {
    width: 40px;
    height: 25px;
    position: absolute;
    top: calc(100% - 12px);
    left: calc(50% - 20px);
}

.main-exchange-patata img {
    object-fit: cover;
}

.section-benefits {
    width: 100%;
    height: 360px;
    background: var(--warm-black);
}