:root {
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --primary-black: #282623;
    --primary-grey: #BABABA;
    --secondary-grey: #757575;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --purple-cool: #845ec2;
    --bg-recommended: linear-gradient(29deg, rgba(247, 147, 26, 1) 19%, rgba(247, 147, 26, 1) 20%, rgba(0, 0, 0, 1) 100%);
    --bg-basic: linear-gradient(29deg, rgba(26, 154, 247, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --bg-vip: linear-gradient(29deg, rgba(132, 94, 194, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    text-align: center;
}

.header .header__img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header .header__text-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}

.header .header__tittle {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header .header__description {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header .header__text-container .header__button {
    text-decoration: none;
    position: absolute;
    width: 229px;
    height: 48px;
    top: calc(100% - 24px);
    left: calc(50% - 114.5px);
    /*114.5px es la mitad del ancho del boton que es 229px*/
    display: block;
    /* margin-top: 32px; */
    padding: 15px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--warm-black);
    font-size: 1.4rem;
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, .16);
    border: none;
    border-radius: 4px;
}

.header__button .header__button_icon {
    display: inline-block;
    width: 12px;
    height: 7.41px;
    margin-left: 6px;
    background-image: url('../assets/icons/arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background: var(--off-white);
}

main .main-exchange {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 5px;
    text-align: center;
}

.main-exchange .main-exchange__image {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url('../assets/icons/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange .main-exchange__information {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange__information .main-exchange__title {
    margin-top: 40px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange__information .main_exchange__description {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-grey);
}

.section-tables {
    width: 100%;
    height: auto;
    padding-top: 48px;
}

.general-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.general-table .table__tittle {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 26px;
}

.table__tittle--currency {
    color: #FF9536;
}

.table__tittle--commissions {
    color: var(--secondary-blue);
}

.general-table .general-table__container {
    width: 90%;
    min-width: 197px;
    max-width: 300px;
    height: 159px;
    margin: 0 auto;
}

.general-table__container table {
    width: 100%;
    height: 100%;
}

.general-table__container table td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background: var(--just-white);
}

.general-table__container .table__top-left {
    border-top-left-radius: 8px;
}

.general-table__container .table__top-right {
    border-top-right-radius: 8px;
}

.general-table__container .table__bottom-left {
    border-bottom-left-radius: 8px;
}

.general-table__container .table__bottom-right {
    border-bottom-right-radius: 8px;
}

.general-table__container .table__right {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--secondary-grey)
}

.general-table__container .down {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 14px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.general-table__container .up {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.general-table .general-table__date {
    margin-top: 16px;
    margin-bottom: 65px;
    width: 173px;
    height: 31px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.general-table .general-table__date p {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.general-table .general-table__date p span {
    font-weight: bold;
}

.general-table__date--currency {
    background: var(--soft-orange);
}

.general-table__date--commissions {
    background: var(--soft-blue);
}


/* .main-exchange-patata {
    width: 40px;
    height: 25px;
    position: absolute;
    top: calc(100% - 12px);
    left: calc(50% - 20px);
}

.main-exchange-patata img {
    object-fit: cover;
} */

.section-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 64px 10px 28px;
    background: var(--warm-black);
}

.section-product-detail .product-detail__icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 24px;
    background-image: url('../assets/icons/patataskr.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: calc(0% - 12px);
    left: calc(50% - 20px);
}

.product-detail-information {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
}

.product-detail-information .product-information__title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
}

.product-detail-information .product-information__description {
    margin-top: 24px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}

.product-detail-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 16px auto;
    background: var(--primary-black);
    padding: 16px 16px 22px 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .16);
    border: none;
}

.product-detail-card .card-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-icon--clock {
    background-image: url('../assets/icons/clock.svg');
}

.card-icon--eye {
    background-image: url('../assets/icons/eye.svg');
}

.card-icon--dollar {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.card-icon--check {
    background-image: url('../assets/icons/check-circle.svg');
}

.product-detail-card .product-card__tittle {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--just-white);
    margin-bottom: 10px;
}

.product-detail-card .product-card__body {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}

.section-bitcoin-image {
    width: 100%;
    min-width: 320px;
    min-height: 380px;
    background-image: url('../assets/images/bitcoinskr2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.section-bitcoin-image h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
    padding-top: 64px;
}


/*SECTION PLANS*/

.section-plans {
    width: 100%;
    min-width: 320px;
    height: auto;
    background: var(--off-white);
    padding: 64px 16px;
    text-align: center;
}

.section-plans .plans-information {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}

.plans-information .plans__tittle {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 24px;
}

.plans-information .plans__description {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-grey);
}


/*Scroll horizontal sliders*/

.plans-container-slider {
    padding-top: 50px;
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}


/*card keloke*/

.plans-card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin-right: 8px;
    margin-bottom: 64px;
    padding: 0 16px;
    background: var(--just-white);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, .16);
}

.plans-card .card_tittle {
    position: absolute;
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--just-white);
    border-radius: 4px;
    padding: 8px;
    top: calc(0% - 15px);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card_tittle--recommended {
    background: var(--bg-recommended);
}

.card_tittle--basic {
    background: var(--bg-basic);
}

.card_tittle--vip {
    background: var(--bg-vip);
}

.plans-card .plans-card-content {
    padding-top: 31px;
}

.plans-card-content .plans-card__tittle {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 6px;
}

.plans-card-content .plans-card__price {
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 14px;
}

.plans-card-content .plans-card__price span {
    font-size: 1.2rem;
    font-weight: 500;
    vertical-align: 25px;
    padding-right: 4px;
}

.plans-card-content .plans-card__message {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: var(--secondary-grey);
    margin-bottom: 16px;
}

.plans-card-content .plans-button-ca {
    width: 150px;
    height: 48px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.8rem;
    font-weight: 700;
    background: var(--off-white);
    color: var(--warm-black);
}

.button--recommended {
    border: 2px solid var(--bitcoin-orange);
}

.button--basic {
    border: 2px solid var(--secondary-blue);
}

.button--vip {
    border: 2px solid var(--purple-cool);
}

.plans-card-content .plans-button-ca .icon-plans {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 8px;
}

.icon-recommended {
    background-image: url('../assets/icons/arrow-right.svg');
}

.icon-basic {
    background-image: url('../assets/icons/flecha-blue.svg');
}

.icon-vip {
    background-image: url('../assets/icons/flecha-purple.svg');
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section.social-media ul {
    list-style: none;
}

footer section.social-media li {
    margin-bottom: 8px;
}

footer section.social-media a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
}

footer section.logo-footer {
    flex-direction: column;
}

footer section.logo-footer img {
    margin-bottom: 8px;
}

footer section.logo-footer p {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}