.section-tables {
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.general-table .table__tittle {
    margin-left: 0;
    text-align: center;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container-slider {
    justify-content: center;
    overflow: initial;
}

.plans-card {
    margin-right: 45px;
}

.section-bitcoin-image {
    background-image: url('../assets/images/bitcoinskr2x.png');
}